div[class~='box'][class~='color-alto'] {
  color: #d6d6d6;
}
div.box.backgroundColor-alto {
  background-color: #d6d6d6;
}
header.header a.link {
  margin-right: 60px;
}
div.box.color-white {
  color: #fff;
}
div[class~='box'][class~='backgroundColor-white'] {
  background-color: #fff;
}
header.header a.link {
  color: #ccc;
}
div.box.color-black {
  color: #000;
}
div[class~='box'][class~='backgroundColor-black'] {
  background-color: #000;
}
div[class~='box'][class~='color-midGray'] {
  color: #616266;
}
div[class~='wrapper'] header[class~='header'] a[class~='brand'],
div[class~='box'] {
  display: block;
}
div[class~='box'][class~='backgroundColor-midGray'] {
  background-color: #616266;
}
div[class~='box'][class~='color-mercury'] {
  color: #e8e8e8;
}
div.box.backgroundColor-mercury {
  background-color: #e8e8e8;
}
div[class~='box'][class~='color-coralPink'] {
  color: #ff565c;
}
div[class~='box'][class~='backgroundColor-coralPink'] {
  background-color: #ff565c;
}
div.container {
  margin-left: auto;
}
div.container {
  margin-bottom: 0;
}
div[class~='heading1'],
div[class~='box'][class~='color-almostBlack'] {
  color: #1d1f24;
}
div[class~='box'][class~='backgroundColor-almostBlack'] {
  background-color: #1d1f24;
}
div.container {
  margin-right: auto;
}
div.container {
  margin-top: 0;
}
div[class~='box'][class~='color-catskillWhite'] {
  color: #f9fafc;
}
div.box.backgroundColor-catskillWhite {
  background-color: #f9fafc;
}
div.box.padding-tiny,
div.container {
  padding-left: 0.104166667in;
}
div.box.padding-tiny {
  padding-bottom: 0.104166667in;
}
div.container,
div.box.padding-tiny {
  padding-right: 0.104166667in;
}
div.box.padding-tiny {
  padding-top: 0.104166667in;
}
div[class~='box'][class~='paddingTop-tiny'] {
  padding-top: 0.104166667in;
}
div[class~='box'][class~='paddingLeft-tiny'] {
  padding-left: 10px;
}
div[class~='box'][class~='paddingRight-tiny'] {
  padding-right: 0.625pc;
}
div[class~='box'][class~='paddingBottom-tiny'] {
  padding-bottom: 7.5pt;
}
div[class~='box'][class~='margin-tiny'] {
  margin-left: 0.625pc;
}
div.container {
  padding-bottom: 0;
}
div[class~='box'][class~='margin-tiny'] {
  margin-bottom: 0.625pc;
}
header.header a.link {
  font-size: 0.125in;
}
div[class~='box'][class~='margin-tiny'] {
  margin-right: 0.625pc;
}
div[class~='box'][class~='margin-tiny'] {
  margin-top: 0.625pc;
}
div[class~='wrapper'] header[class~='header'] a[class~='brand'] {
  margin-right: 3.125pc;
}
div[class~='box'][class~='marginTop-tiny'] {
  margin-top: 10px;
}
div[class~='box'][class~='marginLeft-tiny'] {
  margin-left: 10px;
}
div[class~='box'][class~='marginRight-tiny'] {
  margin-right: 7.5pt;
}
div.box.marginBottom-tiny {
  margin-bottom: 7.5pt;
}
div.box.padding-small {
  padding-left: 15pt;
}
div.box.padding-small {
  padding-bottom: 15pt;
}
div.box.padding-small {
  padding-right: 15pt;
}
div.box.padding-small {
  padding-top: 15pt;
}
div.container {
  padding-top: 0;
}
div[class~='box'][class~='paddingTop-small'] {
  padding-top: 20px;
}
div[class~='box'][class~='paddingLeft-small'] {
  padding-left: 15pt;
}
div.box.paddingRight-small {
  padding-right: 1.25pc;
}
div.box.paddingBottom-small {
  padding-bottom: 1.25pc;
}
div[class~='box'][class~='margin-small'] {
  margin-left: 0.208333333in;
}
div[class~='wrapper'] header[class~='header'] a[class~='brand'] {
  text-decoration: none;
}
div[class~='box'][class~='margin-small'] {
  margin-bottom: 0.208333333in;
}
div.grid {
  display: grid;
}
div[class~='box'][class~='margin-small'] {
  margin-right: 0.208333333in;
}
div[class~='box'][class~='margin-small'] {
  margin-top: 0.208333333in;
}
div[class~='box'][class~='marginTop-small'] {
  margin-top: 20px;
}
div[class~='box'][class~='marginLeft-small'] {
  margin-left: 20px;
}
div.grid {
  grid-template-columns: 1fr;
}
div[class~='box'][class~='marginRight-small'] {
  margin-right: 15pt;
}
header.header a.link,
div[class~='heading2'],
div[class~='heading1'] {
  font-family: 'Oswald', sans-serif;
}
div[class~='box'][class~='marginBottom-small'] {
  margin-bottom: 0.208333333in;
}
div[class~='heading1'] {
  font-size: 22.5pt;
}
div[class~='box'][class~='padding-medium-'] {
  padding-left: 0.416666667in;
}
div[class~='box'][class~='padding-medium-'] {
  padding-bottom: 0.416666667in;
}
div[class~='box'][class~='padding-medium-'] {
  padding-right: 0.416666667in;
}
div[class~='box'][class~='padding-medium-'] {
  padding-top: 0.416666667in;
}
div[class~='box'][class~='paddingTop-medium'] {
  padding-top: 0.416666667in;
}
div[class~='box'][class~='paddingLeft-medium'] {
  padding-left: 0.416666667in;
}
div[class~='box'][class~='paddingRight-medium'] {
  padding-right: 30pt;
}
div[class~='box'][class~='paddingBottom-medium'] {
  padding-bottom: 0.416666667in;
}
header.header a.link {
  font-weight: medium;
}
div[class~='box'][class~='margin-medium'] {
  margin-left: 0.416666667in;
}
div[class~='box'][class~='margin-medium'] {
  margin-bottom: 0.416666667in;
}
div[class~='box'][class~='margin-medium'] {
  margin-right: 0.416666667in;
}
div[class~='box'][class~='margin-medium'] {
  margin-top: 0.416666667in;
}
div[class~='heading2'],
div[class~='heading1'] {
  font-weight: 700;
}
div[class~='heading1'],
div[class~='heading2'] {
  line-height: 1.25;
}
div[class~='box'][class~='marginTop-medium'] {
  margin-top: 30pt;
}
div[class~='box'][class~='marginLeft-medium'] {
  margin-left: 0.416666667in;
}
div[class~='box'][class~='marginRight-medium'] {
  margin-right: 0.416666667in;
}
div[class~='box'][class~='marginBottom-medium'] {
  margin-bottom: 40px;
}
div[class~='box'][class~='padding-large'] {
  padding-left: 45pt;
}
div[class~='box'][class~='padding-large'] {
  padding-bottom: 45pt;
}
div[class~='box'][class~='padding-large'] {
  padding-right: 45pt;
}
div[class~='box'][class~='padding-large'] {
  padding-top: 45pt;
}
div[class~='box'][class~='paddingTop-large'] {
  padding-top: 45pt;
}
div[class~='heading2'] {
  color: #1d1f24;
}
div[class~='box'][class~='paddingLeft-large'] {
  padding-left: 0.625in;
}
div[class~='box'][class~='paddingRight-large'] {
  padding-right: 3.75pc;
}
header.header a.link {
  letter-spacing: 1.5pt;
}
div[class~='box'][class~='paddingBottom-large'] {
  padding-bottom: 60px;
}
div.box.margin-large {
  margin-left: 3.75pc;
}
div.box.margin-large {
  margin-bottom: 3.75pc;
}
div.box.margin-large {
  margin-right: 3.75pc;
}
div[class~='heading2'] {
  font-size: 18pt;
}
div.box.margin-large {
  margin-top: 3.75pc;
}
div[class~='box'][class~='marginTop-large'] {
  margin-top: 45pt;
}
div[class~='box'][class~='marginLeft-large'] {
  margin-left: 45pt;
}
div[class~='box'][class~='marginRight-large'] {
  margin-right: 45pt;
}
div[class~='box'][class~='marginBottom-large'] {
  margin-bottom: 0.625in;
}
svg.svg {
  fill: currentColor;
}
div[class~='figure'] {
  position: relative;
}
div.caption {
  position: absolute;
}
div[class~='box'][class~='display-flex'],
header[class~='header'] {
  display: flex;
}
div[class~='box'][class~='flexDirection-row-'] {
  flex-direction: row;
}
div.caption {
  left: -0.041666667in;
}
div.caption {
  bottom: 20px;
}
div.wrapper {
  width: 100%;
}
div[class~='box'][class~='justifyContent-center'] {
  justify-content: center;
}
div[class~='box'][class~='alignItems-center'] {
  align-items: center;
}
div[class~='container'][class~='tiny'] {
  max-width: 576px;
}
div[class~='container'][class~='small'] {
  max-width: 576pt;
}
div[class~='container'][class~='medium'] {
  max-width: 992px;
}
header[class~='header'],
div[class~='container'][class~='large'] {
  max-width: 75pc;
}
div[class~='grid'][class~='columns-1'] {
  grid-template-columns: repeat(1, 1fr);
}
div[class~='grid'][class~='columns-2'] {
  grid-template-columns: repeat(2, 1fr);
}
div[class~='grid'][class~='columns-3'] {
  grid-template-columns: repeat(3, 1fr);
}
div.grid.rowGap-tiny {
  grid-row-gap: 10px;
}
div.grid.columnGap-tiny {
  grid-column-gap: 0.625pc;
}
div[class~='grid'][class~='rowGap-small'] {
  grid-row-gap: 1.25pc;
}
div[class~='grid'][class~='columnGap-small'] {
  grid-column-gap: 20px;
}
div.wrapper {
  height: 5.625pc;
}
div[class~='grid'][class~='rowGap-medium'] {
  grid-row-gap: 0.416666667in;
}
div[class~='grid'][class~='columnGap-medium'] {
  grid-column-gap: 40px;
}
div[class~='grid'][class~='rowGap-large'] {
  grid-row-gap: 3.75pc;
}
div.grid.columnGap-large {
  grid-column-gap: 60px;
}
div[class~='text'][class~='color-alto'] {
  color: #d6d6d6;
}
div[class~='text'][class~='backgroundColor-alto'] {
  background-color: #d6d6d6;
}
div[class~='text'][class~='color-white'] {
  color: #fff;
}
div[class~='text'][class~='backgroundColor-white'] {
  background-color: #fff;
}
div[class~='text'][class~='color-black'] {
  color: #000;
}
div[class~='text'][class~='backgroundColor-black'] {
  background-color: #000;
}
div[class~='text'][class~='color-midGray'] {
  color: #616266;
}
div.text.backgroundColor-midGray {
  background-color: #616266;
}
div[class~='text'][class~='color-mercury'] {
  color: #e8e8e8;
}
div[class~='text'][class~='backgroundColor-mercury'] {
  background-color: #e8e8e8;
}
div.wrapper {
  border-bottom-width: 1px;
}
div[class~='text'][class~='color-coralPink'] {
  color: #ff565c;
}
div.wrapper {
  border-bottom-style: solid;
}
div.text.backgroundColor-coralPink {
  background-color: #ff565c;
}
div.wrapper {
  border-bottom-color: #ebebeb;
}
div.wrapper {
  border-image: none;
}
header[class~='header'] {
  height: 100%;
}
header[class~='header'] {
  margin-left: auto;
}
div.text.color-almostBlack-XjS {
  color: #1d1f24;
}
div[class~='text'][class~='backgroundColor-almostBlack'] {
  background-color: #1d1f24;
}
header[class~='header'] {
  margin-bottom: 0;
}
div.text.color-catskillWhite {
  color: #f9fafc;
}
header[class~='header'] {
  margin-right: auto;
}
header[class~='header'] {
  margin-top: 0;
}
header[class~='header'] {
  padding-left: 0.104166667in;
}
header[class~='header'] {
  padding-bottom: 0;
}
header[class~='header'] {
  padding-right: 0.104166667in;
}
div[class~='text'][class~='backgroundColor-catskillWhite'] {
  background-color: #f9fafc;
}
div[class~='text'][class~='fontSize-tiny'] {
  font-size: 0.75pc;
}
header.header a.link,
div[class~='text'][class~='textTransform-uppercase'] {
  text-transform: uppercase;
}
div[class~='text'][class~='fontSize-small'] {
  font-size: 16px;
}
header[class~='header'] {
  padding-top: 0;
}
header[class~='header'] {
  align-items: center;
}
div[class~='text'][class~='fontSize-medium'] {
  font-size: 1.5pc;
}
div[class~='text'][class~='fontSize-large'] {
  font-size: 22.5pt;
}
div[class~='text'][class~='fontWeight-thin'] {
  font-weight: 100;
}
div[class~='text'][class~='fontWeight-extraLight'] {
  font-weight: 200;
}
div[class~='text'][class~='fontWeight-light'] {
  font-weight: 300;
}
div.text.textDecoration-none,
header.header a.link {
  text-decoration: none;
}
div.text.fontWeight-normal {
  font-weight: 400;
}
div[class~='text'][class~='fontWeight-medium'] {
  font-weight: 500;
}
div[class~='text'][class~='fontWeight-semiBold'] {
  font-weight: 600;
}
div[class~='text'][class~='fontWeight-bold'] {
  font-weight: 700;
}
div.text.fontWeight-extraBold {
  font-weight: 800;
}
div[class~='text'][class~='fontWeight-black-V'] {
  font-weight: 900;
}
div.text.textAlign-left {
  text-align: left;
}
div.text.textAlign-right {
  text-align: right;
}
div[class~='text'][class~='textAlign-center'] {
  text-align: center;
}
div[class~='text'][class~='fontFamily-oswald'] {
  font-family: 'Oswald', sans-serif;
}
div[class~='text'][class~='fontFamily-lato'] {
  font-family: 'Lato', sans-serif;
}
div[class~='text'][class~='letterSpacing-2'] {
  letter-spacing: 0.125pc;
}
